@use "../util" as u;

.grid {
	display: grid;
	gap: u.rem(64);

	@media (width >= u.em(1110)) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: u.rem(300) auto auto;
		gap: u.rem(30);
	}
}
